/* Colours blue: #4ABDAC; orange: #FC4A1A yellow: #F7B733 clean: #DFDCE3 logo: #00b9ef logo-two: #009ce6 */

body {
	background-color: white;
}

h1 {
	color: #009ce6;
}

p {
	color: #009ce6;
}

a {
	color: #009ce6;
}

/* navbar*/
.navbar-nav {
	float: right;
}

.navbar-inverse .navbar-brand {
	color: white;
}

.navbar-brand {
	font-size: 1.5em !important;
}

.nav a{
    color: white !important;
    font-size: 1.5em !important;
    }

.red{
    color:red;
    }
	
	
/* Slider */

.carousel-control.left {
	background-image: none;
}

.carousel-control.right {
	background-image: none;
}

.form-area {
    background-color: white;
	padding: 0px 40px 75px;
	margin: 0px 0px 0px;
	border: 1px solid #DFDCE3;
	}
	
	
/* Services */

.services {
	color: #009ce6;
	font-size: 20px;
}

.services-icon {
	color: #009ce6;
}

.services-icon-alternate {
	color: #009ce6;
}
	
@media (max-width: 768px) {
.navbar-nav {
	float: left;
}
}